# Scripturae testae Unix terminationibus LF semper servantur.
*.sh text eol=lf

# Interfacies testae sine suffixo quoque LF servant.
**/vindexc text eol=lf
**/vindex-officina text eol=lf
**/vindex-salutatio text eol=lf
**/vindex-systema text eol=lf

# Fontes VINDEX terminationibus LF canonice servantur.
*.vindex text eol=lf
